.home_card {
    text-align: center;
    border: none;
}

.home_card h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: 0.02em;
    color: rgba(18, 18, 18, 0.9);
    font-family: 'Poppins', sans-serif;
}

.home_card p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 142%;
    letter-spacing: 0.02em;
    color: rgba(18, 18, 18, 0.8);
    font-family: 'Poppins', sans-serif;
}

#home_cardSection {
    padding: 60px 0px 60px 0px;
}

.fully_para {
    padding: 0px 10px 0px 10px;
}