.container {
  max-width: 1200px !important;
}
/* .nav_blue {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(34, 34, 34, 0.62)
} */

.nav-link {
  color: #121212 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
}

.navbar-nav .nav-item {
  padding: 0px 20px 0px 20px;
}

.smart {
  padding: 10px 0px 0px 14px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #00754A !important;
  font-family: 'Poppins', sans-serif;
}

.card-image {
  height: 100%;
  width: 100%;
}

.noBorder {
  border: solid 2px transparent;
  height: 100%;
  width: 100%;
  object-fit: fill;
  padding-top: 10px;
  margin-bottom: 10px;
}

.withBorder {
  border: solid 1px #000000;
  height: 100%;
  width: 100%;
  background-color: #b1ebae;
  object-fit: fill;
  padding-top: 10px;
  margin-bottom: 10px;
}

.col-6 {
  margin-bottom: auto;
}

.tripOne_inputone_btn {
  margin-top: 10px;
  background: #00754a;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 999;
}

.modal-footer {
  justify-content: center;
}