@media only screen and (max-width: 768px) {
  .react-calendar__navigation button {
    min-width: 44px;
    font-size: 16px !important;
    font-weight: 500;
    background-color: #fff;
  }

  .react-calendar__month-view__weekdays abbr {
    text-decoration: auto !important;
  }
}


.container {
  max-width: 1200px !important;
}

/* .nav_blue {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(34, 34, 34, 0.62)
} */

.nav-link {
  color: #121212 !important;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  line-height: 27px;
}

.navbar-nav .nav-item {
  padding: 0px 20px 0px 20px;
}

.smart {
  padding: 10px 0px 0px 14px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #00754A !important;
  font-family: 'Poppins', sans-serif;
}

.card-image {
  height: 100%;
  width: 100%;
}

.noBorder {
  border: solid 2px transparent;
  height: 100%;
  width: 100%;
  object-fit: fill;
  padding-top: 10px;
  margin-bottom: 10px;
}

.withBorder {
  border: solid 1px #000000;
  height: 100%;
  width: 100%;
  background-color: #b1ebae;
  object-fit: fill;
  padding-top: 10px;
  margin-bottom: 10px;
}

.col-6 {
  margin-bottom: auto;
}

.tripOne_inputone_btn {
  margin-top: 10px;
  background: #00754a;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 999;
}

.modal-footer {
  justify-content: center;
}

.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-top: -80px;
  border-radius: 5px;
  border: none;
  padding: 10px 10px 60px 10px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 2px;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  font-size: 19px;
  font-weight: 500;
  background-color: #fff;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 10px;
  text-decoration: auto;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: auto;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}



.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font-size: 15px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #fff;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #fff;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #00754a;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #00754a;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}