@media only screen and (max-width:400px) {

    /* .demo {
        border-bottom: 2px solid #00754A !important;
        width: 100% !important;
        padding: 2% 0% 0% 0% !important;
    }

    .home_mountain {
        padding: 7% 0% 0% 0% !important;
        text-align: start !important;
        margin: 0px 10px;
    } */
    .home_mountain {
        margin-top: -8px !important;
        text-align: start !important;
    }

    .saprater {
        padding: 15px 0px !important;
        text-align: start !important;
    }

    .demo {
        border-bottom: 2px solid #00754A !important;
        width: 96% !important;
        margin-top: -4px !important;
    }

    #happenNow_images_div {
        margin-bottom: 5em;


    }


}

@media only screen and (max-width:768px) {
    .home_happening h1 {
        font-size: 30px !important;
    }

    .demo {
        border-bottom: 2px solid #00754A !important;
        width: 100% !important;
        padding: 5% 0% 0% 0% !important;
    }

    .home_mountain {
        padding: 7% 0% 0% 0% !important;
        text-align: start !important;
        margin: 0px 10px;
    }

    #happenNow_images_div {
        margin-bottom: 5em;
    }



}



.home_happening h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: #121212;
    font-family: "Poppins", sans-serif;
}

.home_happening {
    padding: 90px 0px 60px 0px;
}


.saprater p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: rgba(18, 18, 18, 0.8);
}

.saprater {
    border-bottom: 2px solid #00754A;
    width: 95%;
    text-align: start;
    padding: 10px 0px;
}

.home_mountain {
    margin-top: 92px;
    text-align: start;

}

.demo {
    border-bottom: 2px solid #00754A;
    width: 96%;
    margin-top: 118px;

}

.home_mountain h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #121212;
    font-family: "Poppins", sans-serif;
}

#image1 {
    padding: 7px 10px 0px 18px;
}

.image2 {
    padding: 7px 7px 0px 7px;
}

.sizzling {

    padding-top: 10px;
}

.home_mountain p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: rgba(18, 18, 18, 0.8);
    font-family: "Poppins", sans-serif;
}

.home_explore {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    font-family: "Poppins", sans-serif;
    color: #00754A;
    text-decoration: none;

}

.home_explore:hover {
    color: #00754A;
}

.home_right_button {
    height: 8.5px;
    width: 15.5px;
}

.happeningNow_container {
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);

    /* margin: 0px 5px; */
}

#happeningNow_container {
    border-radius: 10px;
    padding: 0;
    /* margin: 0px 5px; */
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
}