@media only screen and (max-width:400px) {

    /* .demo {
        border-bottom: 2px solid #00754A !important;
        width: 100% !important;
        padding: 2% 0% 0% 0% !important;
    }

    .home_mountain {
        padding: 7% 0% 0% 0% !important;
        text-align: start !important;
        margin: 0px 10px;
    } */
    .home_mountain {
        margin-top: -11px !important;
        text-align: start !important;
    }

    .saprater {
        padding: 15px 0px !important;
        text-align: start !important;
    }

    .demo {
        border-bottom: 2px solid #00754A !important;
        width: 96% !important;
        margin-top: -4px !important;
    }

    #happenNow_images_div {
        margin-bottom: 5em;
    }

    .plan_trip_btn {
        padding-left: 10px !important;
        font-size: 16.5px !important;
    }

    .home_explore {
        font-size: 16.5px !important;
    }

    #image1 {
        border-radius: 10px 10px 0px 0px;
        background-image: url("../public/images/home/Rectangle 4554.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;

    }
}

@media only screen and (max-width:414px) {
    .home_mountain {
        margin-top: -11px !important;
        text-align: start !important;
    }

    .saprater {
        padding: 15px 0px !important;
        text-align: start !important;
    }

    .demo {
        border-bottom: 2px solid #00754A !important;
        width: 96% !important;
        margin-top: -4px !important;
    }

    #image1 {
        border-radius: 10px 10px 0px 0px;
        background-image: url("../public/images/home/Rectangle 4554.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;

    }


}

@media only screen and (max-width:768px) {
    .home_happening h1 {
        font-size: 30px !important;
    }

    .demo {
        border-bottom: 2px solid #00754A !important;
        width: 100% !important;
        padding: 5% 0% 0% 0% !important;
    }

    .home_mountain {
        padding: 7% 0% 0% 0% !important;
        text-align: start !important;
        margin: 0px 10px;
    }

    #happenNow_images_div {
        margin-bottom: 5em;
    }

    .plan_trip_btn {
        padding-left: 10px !important;
    }

    .plan_trip_btn {
        padding-left: 10px !important;
        font-size: 16.5px !important;
    }

    .home_explore {
        font-size: 16.5px !important;
    }

    #image1 {
        border-radius: 10px 0px 0px 10px !important;
        background-image: url("../public/images/home/Rectangle 4554.png");
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        height: 37vh !important;
    }

}

@media only screen and (max-width:1024px) {
    .saprater h4 {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 19px !important;
        color: #121212 !important;
        font-family: "Poppins", sans-serif !important;
        line-height: 122% !important;
        color: rgba(18, 18, 18, 0.8) !important;
    }
}

@media only screen and (max-width:1280px) {
    #image1 {
        border-radius: 10px 10px 0px 0px !important;
        background-image: url("../public/images/home/Rectangle 4554.png");
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        height: 48vh !important;
    }

    .home_mountain {
        margin-top: 125px !important;
        text-align: start;
    }

}

.home_happening h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
    color: #121212;
    font-family: "Poppins", sans-serif;
}

.home_happening {
    padding: 90px 0px 60px 0px;
}


.saprater p {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17.6px;
    line-height: 146%;
    color: rgba(18, 18, 18, 0.8);
}

.saprater h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    color: #121212;
    font-family: "Poppins", sans-serif;
    line-height: 122%;
    color: rgba(18, 18, 18, 0.8);
}

.saprater {
    border-bottom: 2px solid #00754A;
    width: 98%;
    text-align: start;
    padding: 18px 0px;
}

.home_mountain {
    margin-top: 124px;
    text-align: start;

}

.demo {
    border-bottom: 2px solid #00754A;
    width: 97%;
    margin-top: 112px;
    padding-left: 7px;
}

.home_mountain h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #121212;
    line-height: 126%;
    font-family: "Poppins", sans-serif;
}

#image1 {
    border-radius: 10px 0px 0px 10px;
    background-image: url("../public/images/home/Rectangle 4554.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 57vh;
}

/* .image2 {
    padding: 7px 7px 0px 7px;
} */

.sizzling {

    padding-top: 10px;
}

.home_mountain p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: rgba(18, 18, 18, 0.8);
    font-family: "Poppins", sans-serif;
}

.home_explore {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    font-family: "Poppins", sans-serif;
    color: #00754A;
    text-decoration: none;

}

.home_explore:hover {
    color: #00754A;
}

.home_right_button {
    height: 8.5px;
    width: 15.5px;
}

.happeningNow_container {
    border-radius: 10px;
    padding: 0;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);

    /* margin: 0px 5px; */
}

#happeningNow_container {
    border-radius: 10px;
    padding: 0;
    /* margin: 0px 5px; */
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.35);
}