@media only screen and (max-width:768px) {
    .home_needs1 h1 {
        text-align: center;
        font-size: 30px !important;
    }

    .home_needs2 h1 {
        text-align: center;
        font-size: 30px !important;
    }

    .home_needs1 p {
        text-align: center;
        font-size: 20px !important;
    }

    .home_needs1 {
        padding: 0% !important;
    }

    #laptop_div {
        margin-bottom: 0.5rem !important;
    }


    .home_needs2 p {
        text-align: center;
        font-size: 20px !important;
    }

    .home_needs2 {
        padding: 0% !important;
    }

    .home_works h1 {
        font-size: 30px !important;
    }
    .home_works{
        padding: 25px 0px 25px 0px !important;
    }
}

/* .home_needs1 {
    padding: 25% 0% 25% 0%;
}

.home_needs2 {
    padding: 15% 0% 50% 0%;
} */
.home_needs2{
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    position: relative;
}
.home_needs1{
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    position: relative;
}

.home_needs1 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: rgba(18, 18, 18, 0.8);
    font-family: "Poppins", sans-serif;
}

.home_needs1 p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 164.5%;
    color: rgba(18, 18, 18, 0.8);
    font-family: "Poppins", sans-serif;
}

.home_needs2 h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: rgba(18, 18, 18, 0.8);
    font-family: "Poppins", sans-serif;
}

.home_needs2 p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 164.5%;
    color: rgba(18, 18, 18, 0.8);
    font-family: "Poppins", sans-serif;
}

.home_works h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    margin-bottom: 50px;
    text-align: center;
    color: #121212;
    font-family: "Poppins", sans-serif;
}

#laptop_div {
    padding: 50px 0px 50px 0px;
}
#howItWorks_main_container{
    padding-bottom: 100px;
}





