@media only screen and (max-width: 400px) {
  .input_field {
    height: 50px !important;
  }

  #TripTwo_input_container_btn {
    padding: 8px 10px !important;
  }

  .budget_select_section {
    padding: 20px 0px;
  }
  #budget_popup {
   
    top: 40% !important;
    
  }
  
}
@media only screen and (max-width: 768px) {
  .save_btn {
    width: 50% !important;
    font-size: 10px !important;
  }

  .budget_select_section {
    padding: 20px 50px;
  }

  #budget_popup {
    width: 90% !important;
  }

  #TripTwo_input_container_btn {
    width: 10vh !important;
    font-size: 11px !important;
    padding: 5px 8px !important;
  }


  #column {
    width: 50% !important;
  }

  #intrest_popup {
    background-color: #ffffff !important;
    border-radius: 20px !important;
    width: 87% !important;
    height: 90%;
    overflow: auto;
    padding: 20px 50px !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }

}

@media only screen and (max-width: 1024px) {
  #tripTwo_inputtwo_container2 {
    width: 90% !important;
    height: 50% !important;
    overflow: scroll !important;
  }

  .image_para_content2 {
    margin-top: -10px !important;
  }
}

.save_btn:disabled {
  cursor: not-allowed;
}

.budget_select_section {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  padding: 20px 0px;
  text-align: center;

}

#TripTwo_input_container_btn {
  margin: 10px 8px;
  padding: 6px 15px;
  font-size: 20px;
  width: 100px;
}




#column {
  margin-bottom: 20px !important;
}

.tripTwo {
  background: url(../public/images/tripTwo/Rectangle4571.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 50px 0px 100px 0px;
}

.logo_saparator {
  top: -20px;
  margin: 0px 10px;
}

.tripOne_line {
  height: 1px;
  border-top: 1px solid #ffffff;
  border-width: 100% !important;
  margin: 0px 5px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -45%);
  position: relative;
}

.input_field {
  margin-bottom: 45px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 100%;
  border: none;
  outline: none;
  height: 60px;
  background: rgba(0, 0, 0, 0.37);
  border-radius: 44px;
  cursor: pointer;
}

.save_btn {
  margin-top: 19px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: 100%;
  height: 60px;
  background: #ffffff;
  border-radius: 32px;
}

#tripTwo_inputtwo_container2 {
  position: absolute;
  background-color: #ffffff;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}



.image_para_content {
  margin-top: -30px;
  font-size: 12px;
}

.image_para_content3 {
  margin-top: -30px;
  font-size: 10px;
}

.image_para_content2 {
  font-size: 11px;
}

.tripTwo_content {
  text-align: center;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.04em;
  color: #121212;
  margin-top: 10px;
  margin-bottom: 30px;
}

.tripTwo_inputtwo_btn_container {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.tripTwo_inputtwo_btn {
  background: #00754a;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;

}

.tripTwo_inputtwo_btn:disabled {
  cursor: not-allowed;
}

.tripTwo_cross_para {

  height: 35px;
  width: 35px;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  padding-top: 5px;
  right: 15px;
  top: 10px;
}

.camping_div {
  border-radius: 50%;
  text-align: center;
  border: 2px solid #00000016;
}

.camping_div1 {
  border-radius: 50%;
  text-align: center;
  border: 2px solid #00000016;
}

.camping_div_color {
  background-repeat: no-repeat;
  background-color: #00754a;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #00000016;
}

.camping_div_color1 {
  background-color: #00754a;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  border: 2px solid #00000016;
}

.tripTwo_inputTwo_input_container {
  text-align: center;
  margin: 35px 0px;
}

.tripTwo_inputTwo_input_container_input {
  width: 80%;
  padding: 7px 20px;
  outline: none;
  border: 1px solid rgba(18, 18, 18, 0.8);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.tripTwo_inputTwo_btn_container {
  text-align: center;
}

.tripTwo_inputtwo_btn_container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tripone_inputtwo_btn_container3 {
  text-align: center;

  margin-bottom: 20px;
}

.tripTwo_inputtwo_btn {
  background: #00754a;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  padding: 8px 50px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  outline: none;
}

.TripTwo_btn_container_btn {
  margin: 0px 10px;
  padding: 7px 20px;
  border-radius: 10px;
  border: 1px solid #000000;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.tripTwo_input_container {
  display: flex;
  justify-content: center;
}

.TripTwo_btn_container_btn2 {
  background-color: #00754a;
  margin: 0px 10px;
  padding: 7px 20px;
  border-radius: 10px;
  border: 1px solid #00754a;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  width: 100%;
  outline: none;
  cursor: pointer;
}

#intrest_popup {
  background-color: #ffffff;
  border-radius: 20px;
  width: 45%;
  padding: 20px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#budget_popup {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 50px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -50%);
}

