@media only screen and (max-width:768px){
  .save_btn{
    width: 50% !important;
    height: 50px !important;
  }
  .input_field{
    height: 50px !important;
  }
}
.tripTwo {
    background: url(../public/images/tripTwo/Rectangle4575.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 50px 0px 100px 0px;
}
.logo_saparator{
    top: -20px;
    margin: 0px 10px;
    
}
.tripOne_line{
    height: 1px;
    border-top: 1px solid #FFFFFF;
    border-width: 100% !important;
    margin: 0px 5px;
    top: 50%;
    left: 45%;
    transform: translate(-50%,-45%);
    position: relative;
}
.input_field{
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 100%;
    border: none;
    outline: none;
    height: 60px;
    background: rgba(0, 0, 0, 0.37);
    border-radius: 44px;
    cursor: pointer;
}
.save_btn{
    margin-top: 16px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.02em;
    color: #000000;
    background-color: #FFFFFF;
    border: none;
    width:100%;
    height: 64px;
    background: #FFFFFF;
    border-radius: 32px;
    
}

    

