.main_top_background {
  background: url(../public/images/trip/trip_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 110vh;
  width: 100%;
}

.tripThree_logo_container {
  position: absolute;
  top: 80px;
  left: 250px;
  display: flex;
}

.tripThree_logo_1 {
  width: 60px;
  padding-top: 16px;
  text-align: center;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
}

.tripThree_logo {
  width: 60px;
  padding-top: 17px;
  padding-left: 20px;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  margin-top: -30px;
  margin-left: 10px;
  margin-right: 10px;
}

.three_inputs_container {
  padding: 17% 20% 0% 20%;
}

.trip_three_inputs {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #ffffff;
  width: 100%;
  border: none;
  outline: none;
  height: 60px;
  background: rgba(0, 0, 0, 0.37);
  border-radius: 44px;
  cursor: pointer;
}

.mobile_validation_error {
  color: #d3080c;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  top: -40px;
}

.popup_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
}

/* .trip_three_btn {
  text-align: center;
} */

.modal {
  font-size: 12px;
}

.header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: rgba(18, 18, 18, 0.9);
  text-align: center;
}

.content {
  width: 100%;
  padding: 10px 5px;
}

.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup_btn {
  width: 200px;
  height: 50px;
  background: #00754a;
  border-radius: 32px;
  outline: none;
  border: 0px;
  font-size: 1rem;
  color: #ffffff;
}

.popup_img11 {
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.popup_view_details {
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

/*trip details*/
.happy_travel_main_div {
  position: absolute;
  top: 30%;
  left: 10%;
  transform: (-50%, -50%);
}

.happy_travel_p1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 145.5%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.happy_travel_p2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: -15px;
}

#back_home_btn {
  width: 25%;
  height: 60px;
  background: #ffffff;
  border-radius: 32px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 180%;
  letter-spacing: 0.02em;
  outline: none;
  border: 0px;
}

.back_btn11 {
  padding-left: 10px;
}

#main_card_div {
  background: #ffffff;
  border: 1px solid #9e9e9e;
  border-radius: 11.403px;
  width: 100%;
}

.trip_details_p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #121212;
}

.hr_line {
  border-bottom: 2px solid #00754a;
  border-radius: 2px;
}

.trip_user_p {
  padding: 25px;
}

.main_back_btn11 {
  padding-top: 100px;
}
@media only screen and (max-width: 767px) {
  .happy_travel_p1 {
    font-size: 25px !important;
  }

  .happy_travel_p2 {
    font-size: 12px !important;
  }

  .main_back_btn11 {
    padding-top: 0px !important;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    width: 100%;
    padding: 10px 5px;
  }

  .actions {
    width: 100%;
    font-size: 40px !important;
    text-align: center !important;
  }

  .trip_details_p {
    font-size: 20px !important;
  }

  #back_to_home_row {
    padding-top: 20px;
  }
  .popup_btn {
    width: 120px !important;
    font-size: 0.5rem;
  }

  .header {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1024px) {
  .happy_travel_p1 {
    font-size: 40px;
  }
  .happy_travling {
    padding-left: 30px;
  }
  #back_to_home_row {
    padding-right: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .main_container {
    background-size: cover;
    background: url(../public/images/trip/Rectangle\ 4586.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    height: 800px !important;
    width: 100% !important;
  }

  #back_to_home_row {
    padding-left: 0px !important;
  }
  #back_home_btn {
    width: 100% !important;
  }
  .happy_travling {
    padding-left: 0px !important;
  }
}

.main_container {
  background: url(../public/images/trip/trip_details_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.happy_travling {
  color: white;
  padding-top: 100px;
}

.seema_renu {
  padding: 50% 0% 0% 0%;
  position: absolute;
  transform: translate(15%, 30%);
}

.tripThree_line {
  height: 1px;
  border-top: 1px solid #ffffff;
  border-width: 100% !important;
  margin: 0px 5px;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -45%);
  position: relative;
}

.trip_three_submit_btn {
  margin-top: 19px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #000000;
  background-color: #ffffff;
  border: none;
  width: 100%;
  height: 60px;
  background: #ffffff;
  border-radius: 32px;
}

.trip_three_submit_btn:disabled {
  cursor: not-allowed;
}

#mobile_input::-webkit-input-placeholder {
  color: #fff;
}
